@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

.wrapper{
  max-width: 1140px;
  margin: auto;
  font-size: 16px;
  color: #000000;
}

.wrapper .header .logo img {
  width: 235px;
  height: 91px;
}
.wrapper .header .top-left{
  background-color: #1E1B48;
  padding: 10px;
}
.wrapper .header .top-center{
  background-color: #DC0031;
  padding: 10px;
}
.wrapper .header .center-menus{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapper .header .center-menus .cm_link{
  display: inline-block;
  padding: 13px 20px;
  color: #ffffff;
  position: relative;
  margin-right: 2px;
}
.wrapper .header .top-center .cm_link::after{
  content: "";
  position: absolute;
  top: 16px;
  right: -2px;
  height: 15px;
  width: 2px;
  background-color: #ffffff;
}
.wrapper .header .top-center .cm_link:last-child:after{
  width: 0px;
}
.wrapper .header .center-menus .cm_link.active,
.wrapper .header .center-menus .cm_link:hover{
  background-color: #004ba5;
}

.wrapper .header .top-right{
  background-color: #214A9C;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}
.privacy_police_text a,
.footer-section a,
.wrapper .header .top-right a{
  color: yellowgreen;
}
.privacy_police_text a:hover,
.footer-section a:hover,
.wrapper .header .top-right a:hover{
  color: hotpink;
}
.wrapper .header #mobile_menu_toggle{
  display: none;
}

@media screen and (max-width: 767px) {
  .wrapper .header .center-menus .cm_link{
    padding: 10px 15px;
  }
}
@media screen and (max-width: 550px) {
  
  .wrapper .header #mobile_menu_toggle{
    display: block;
    margin-bottom: 10px;
  }
  .wrapper .header #mobile_menu_toggle i{
    color: #FFFCFC;
    font-size: 22px;
    padding: 0.25em;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(0,0,0,.05);
  }
  .wrapper .header #mobile_menu_toggle i.active::before{
    content: "\f00d";
  }
  .wrapper .header .center-menus {
    background-color: #ffffff;
    height: 0px;
    overflow: hidden;
    transition: height .35s ease;
  }
  .wrapper .header .center-menus.active{
    height: 132px;
    transition: 0.4s all;
  }
  .wrapper .header .center-menus .cm_link{
    color: #494c4f;
    display: block;
    width: 100%;
    margin: 0px;

  }
  .wrapper .header .center-menus .cm_link.active,
  .wrapper .header .center-menus .cm_link:hover{
    background-color: #55595c;
    color: #ffffff;
  }
  .wrapper .header .top-center .cm_link::after{
    width: 0px !important;
  }
}

.before-footer-section{
  padding: 10px 0px;
}
.before-footer-section .text{
  color: #7a7a7a;
}

.footer-section{
  background-color: #DC0031;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

#PrizeModal .modal-dialog,
#RestrictedRegionModal .modal-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
}

#PrizeModal .modal-content,
#RestrictedRegionModal .modal-content{
  background-color: rgb(25, 74, 165);
  border: 5px solid rgb(239, 49, 33);
  border-radius: 20px;
  position: relative;
  min-width: 670px;
  margin: 10px;
}
.modal-content .vector{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
}
.modal-content .vector .btn-mclose{
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 0px;
}
.modal-content .vector .btn-mclose:hover{
  background-color: #ffffff;
  color: #000000;
}
#RestrictedRegionModal .modal-content .modalContent{
  text-align: center;
  color: #ffffff;
}
#RestrictedRegionModal .modalContent .heading{
  font-size: 30px;
  line-height: 36px;
}
#RestrictedRegionModal .modalContent .text{
  font-size: 18pt;
  margin-bottom: 12px;
}

.main-content {
  padding: 10px;
}

.main-content .heading{
  color: #194A9C;
  font-weight: 700;
  margin-bottom: 12px;
}

.members-only-section{
  background: #ffe523;
  padding: 10px;
  text-align: center;
}
.know-game-section .section-title,
.members-only-section .section-title{
  color: #DC0031;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
}
.know-game-section .content,
.members-only-section .content {
  margin-bottom: 20px;
}
.know-game-section .content .icon,
.members-only-section .content .icon{
  margin-bottom: 12px;
}

.know-game-section{
  border: 2px solid #DC0031;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.know-game-section .section-title{
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 20px;
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td{
  padding: 0px !important;
}
table.dataTable>thead>tr>th {
  border-bottom-color: rgba(0, 0, 0, 0.3) !important;
}
table.dataTable>tbody>tr:nth-child(odd){
  background-color: #E5F2F5;
}
.dataTables_length{
  display: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0.1em 0.5em;
}

.cursor-pointer{
  cursor: pointer;
}

/* prize section home page */

.prize-section{
  background: #67ceeb;
  padding: 10px;
}
.prize-section .title{
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.prize-section #today_date{
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}

.content-container{
  max-width: 780px;
  margin: auto;
  padding: 0px 20px;
}
.middle {
  width: 100%;
  margin: auto; /* Position the item 50% from the left of the parent container */
  margin-top: 20px;
  background: #214A9C;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.child-grid {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
.no-margin {
  margin-top: 0px !important;
}
.prize {
  display: flex; /* Use flexbox to center the text */
  justify-content: center; /* Horizontally center the content */
  align-items: center;
  font-size: 22px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 7px;
  background-color:  #DC0031;
  min-height: 40px;
  width: 100%;
  color: #FFFFFF;
  font-weight: bold;
}
.prize-value {
  display: flex; /* Use flexbox to center the text */
  justify-content: center; /* Horizontally center the content */
  align-items: center;
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing:35px;
  background-color:  #FFFFFF;
  border-radius: 7px;
  min-height: 40px;
  width: 100%;
  font-weight: bold;
}
.centered-text {
  padding: 0px;
  margin: 0px;
  text-align: center; /* Horizontally center the text within its container */
}
.centered-text1 {
  padding: 0px;
  margin: 0px;
  padding-left: 31px;
  text-align: center; /* Horizontally center the text within its container */
}
.list-main-div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 25px;
  padding-top: 12px;
  padding-bottom: 20px;
}
.list-childdivs {
  width: 390px;
  background-color: #214A9C;
  border-radius: 18px;
  padding-bottom: 20px;
}
.heading-1ist {
  width: 316px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 17px;
  background-color: #EF0027;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  margin-top: 15px;
  line-height: 44px;
}
.lotteryNo-div {
  width: 316px;
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-around;
  column-gap: 10px;
  margin: auto;
  margin-top: 15px
}
.lotteryNo-child {
  width: 142px;
  border-radius: 7px;
  background-color: #FFFFFF;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  letter-spacing: 2px;
}


/* Prize Modal */
#PrizeModal .modal-content {
  background: #67ceeb;
}
#PrizeModal .list-childdivs {
  max-width: 48%;
  padding: 0px 10px 10px;
}
#PrizeModal .lotteryNo-div,
#PrizeModal .lotteryNo-child,
#PrizeModal .heading-1ist {
  max-width: 100%;
}

/* next_draw section style */

.next_draw-section{
  background: #f00;
  padding: 10px;
  color: #ffffff;
}
.next_draw-section .title{
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
}
.next_draw-section .remainingTime{
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}
.next_draw-section .remainingTimeLabel{
  font-size: 18px;  
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}



@media only screen and (min-width: 1024px) {
  .middle {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .child-grid {
    margin-top: 20px;
  }
  .prize {
    font-size: 22px;
  }
  .prize-value {
    font-size: 27px;
  }

}


@media only screen and (max-width: 1024px) {

  .middle {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .child-grid {
    margin-top: 15px;
  }
  .prize {
    font-size: 16px;
  }
  .prize-value {
    font-size: 30px;
  }
  .list-main-div{
    grid-template-columns: 350px 350px;
    column-gap: 15px;
  }
  .list-childdivs{
    width: 350px;
  }
}

@media only screen and (max-width: 768px) {

  .wrapper .header .logo img {
    height: auto;
  }
  .list-main-div{
    grid-template-columns: 280px 280px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .list-childdivs{
    width: 280px;
    border-radius: 18px;
  }
  .heading-1ist {
    width: 250px;
    font-size: 22px;
    border-radius: 18px;
    margin-top: 15px;
    line-height: 60px;
  }
  .lotteryNo-div {
    width: 240px;
    margin-top: 10px;
  }
  .lotteryNo-child {
    width: 110px;
    font-size: 20px;
  }
  #PrizeModal .modal-content,
  #RestrictedRegionModal .modal-content{
    min-width: unset;
    max-width: 100%;
  }
}
@media only screen and (max-width:600px) {
  .list-main-div{
    grid-template-columns: 230px 230px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .list-childdivs{
    width: 230px;
    border-radius: 10px;
  }
  .heading-1ist {
    width: 210px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    line-height: 50px;
  }
  .lotteryNo-div {
    width: 200px;
    margin-top: 10px;
  }
  .lotteryNo-child {
    width: 90px;
    font-size: 18px;
  }
}

@media only screen and (max-width:500px) {
  .content-container{
    padding: 0px;
  }
  .middle {
    margin-top: 10px;
  }
  
  .child-grid {
    width: 94%;
  }
  .prize {
    font-size: 12px;
    border-radius: 7px;
    min-height: 30px;
  }
  .prize-value {
    font-size: 18px;
    letter-spacing:9px;
    min-height: 30px;
  }
  .centered-text1 {
    padding-left: 12px;
  }
  .list-main-div {
    grid-template-columns: 190px 190px;
    column-gap: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .list-childdivs {
    width: 190px;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
  .heading-1ist {
    width: 170px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 40px;
  }
  .lotteryNo-div {
    width: 170px;
    column-gap: 0px;
    margin-top: 10px;
  }
  .lotteryNo-child {
    width: 80px;
    line-height: 30px;
    font-size: 15px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 425px) {
  .list-main-div {
    grid-template-columns: 152px 152px;
    column-gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .list-childdivs {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0px;
    padding: 0px 10px 10px;
  }
  .heading-1ist {
    width: 140px;
    font-size: 12px;
    margin-top: 10px;
    border-radius: 7px;
    line-height: 33px;
  }
  .lotteryNo-div {
    width: 100%;
    column-gap: 5px;
    margin-top: 10px;
  }
  .lotteryNo-child {
    width: 100%;
    line-height: 22px;
    font-size: 13px;
    font-weight: 700;
  }
}

@media only screen and (max-width: 380px){
  .lotteryNo-div{
    column-gap: 0px;
  }
  .list-childdivs{
    padding: 0px 5px 10px;
    max-width: 47%;
  }
  .heading-1ist{
    max-width: 100%;
  }
}